<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="x64;x86"/>
    </assemblyBinding>
  </runtime>

  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="users"  connectionString="Data Source=|DataDirectory|\users.db3;Version=3;Journal Mode=Persist" providerName="System.Data.SQLite"/>
  </connectionStrings>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="Console" type="System.Diagnostics.ConsoleTraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="Jabber.Net.Server"/>
    <assembly name="agsXMPP"/>

    <namespace name="Jabber.Net.Server"/>
    <namespace name="Jabber.Net.Server.Connections"/>
    <namespace name="Jabber.Net.Server.Handlers"/>
    <namespace name="Jabber.Net.Server.Sessions"/>
    <namespace name="Jabber.Net.Server.S2C"/>
    <namespace name="Jabber.Net.Server.Storages"/>
    <namespace name="Jabber.Net.Server.Utils"/>

    <container name="Jabber">

      <instance name="domain" value="localhost" type="agsXMPP.Jid, agsXMPP" typeConverter="JidTypeConverter"/>
      <instance name="any" value="{user}@{server}/{resource}" type="agsXMPP.Jid, agsXMPP" typeConverter="JidTypeConverter"/>

      
      <register type="TcpXmppListener">
        <lifetime type="singleton"/>
        <constructor>
          <param name="listenUri" value="tcp://0.0.0.0:5222"/>
        </constructor>
      </register>

      <register type="XmppListenerManager">
        <lifetime type="singleton"/>
        <constructor>
          <param name="handlerManager" dependencyType="XmppHandlerManager"/>
        </constructor>
        <method name="AddListener">
          <param name="listener" dependencyType="TcpXmppListener"/>
        </method>
      </register>

      
      <register type="XmppSessionManager">
        <lifetime type="singleton"/>
      </register>


      <register type="IXmppUserStorage" mapTo="XmppUserStorage">
        <lifetime type="singleton"/>
      </register>
      
      <register type="XmppStorageManager">
        <lifetime type="singleton"/>
        <method name="AddStorage">
          <param name="name" value="users"/>
          <param name="storage" dependencyType="IXmppUserStorage"/>
        </method>
      </register>

      <register type="ClientStreamHandler">
        <constructor>
          <param name="domain" dependencyName="domain"/>
        </constructor>
      </register>
      <register type="AuthDigestMD5Handler"/>
      <register type="BindHandler"/>

      <register type="XmppHandlerManager">
        <lifetime type="singleton"/>
        <constructor>
          <param name="sessionManager" dependencyType="XmppSessionManager"/>
          <param name="resolver" dependencyType="IXmppResolver"/>
        </constructor>
        <method name="RegisterHandler">
          <param name="jid" dependencyName="any"/>
          <param name="handler" dependencyType="ClientStreamHandler"/>
        </method>
        <method name="RegisterHandler">
          <param name="jid" dependencyName="any"/>
          <param name="handler" dependencyType="AuthDigestMD5Handler"/>
        </method>
        <method name="RegisterHandler">
          <param name="jid" dependencyName="any"/>
          <param name="handler" dependencyType="BindHandler"/>
        </method>
      </register>     
    </container>
  </unity>
</configuration>
