<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <connectionStrings>
    <add name="users" connectionString="ssss"/>
  </connectionStrings>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="Console" type="System.Diagnostics.ConsoleTraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="Jabber.Net.Server"/>
    <assembly name="agsXMPP"/>
    
    <namespace name="Jabber.Net.Server.Connections"/>
    <namespace name="Jabber.Net.Server.Handlers"/>
    <namespace name="Jabber.Net.Server.Sessions"/>
    <namespace name="Jabber.Net.Server.S2C"/>
    <namespace name="Jabber.Net.Server.Utils"/>

    <container name="Jabber">

      <instance name="domain" value="localhost" type="agsXMPP.Jid, agsXMPP" typeConverter="JidTypeConverter"/>
      <instance name="empty" value="" type="agsXMPP.Jid, agsXMPP" typeConverter="JidTypeConverter"/>

      <register type="ClientStreamHandler"/>
      <register type="AuthDigestMD5Handler"/>

      <register type="XmppSessionManager">
        <lifetime type="singleton"/>
      </register>

      <register type="XmppHandlerManager">
        <lifetime type="singleton"/>
        <constructor>
          <param name="sessionManager" dependencyType="XmppSessionManager"/>
        </constructor>
        <method name="RegisterHandler">
          <param name="jid" dependencyName="domain"/>
          <param name="handler" dependencyType="ClientStreamHandler"/>
        </method>
        <method name="RegisterHandler">
          <param name="jid" dependencyName="empty"/>
          <param name="handler" dependencyType="AuthDigestMD5Handler"/>
        </method>
      </register>

      
      <register type="IXmppListener" mapTo="TcpXmppListener" name="defaultListener">
        <lifetime type="singleton"/>
        <property name="ListenUri" value="tcp://0.0.0.0:5222"/>
      </register>

      <register type="XmppListenerManager">
        <lifetime type="singleton"/>
        <constructor>
          <param name="handlerManager" dependencyType="XmppHandlerManager"/>
        </constructor>
        <method name="AddListener">
          <param name="listener" dependencyName="defaultListener"/>
        </method>
      </register>
    </container>
  </unity>
</configuration>
