<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <connectionStrings>
    <add name="users" connectionString="ssss"/>
  </connectionStrings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="Jabber.Net.Server"/>
    <namespace name="Jabber.Net.Server.Connections"/>
    
    <container name="Jabber">
      
      <register type="IXmppListener" mapTo="TcpXmppListener" name="defaultListener">
        <lifetime type="singleton"/>
        <property name="ListenUri" value="tcp://0.0.0.0:5222"/>
      </register>
      
      <register type="XmppListenerManager">
        <lifetime type="singleton"/>
        <method name="AddListener">
          <param name="listener" dependencyName="defaultListener"/>
        </method>
      </register>

      <register type="XmppConnectionManager">
        <lifetime type="singleton"/>
      </register>
    </container>
  </unity>
</configuration>
