<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="jabber.net" type="Jabber.Net.Server.Configuration.JabberNetConfigurationSection, Jabber.Net.Server"/>
  </configSections>

  <connectionStrings>
    <add name="users" connectionString="ssss"/>
  </connectionStrings>

  <jabber.net>
    <listeners>
      <listener listenUri="tcp://0.0.0.0:5222" listenerType="TcpXmppListener"/>
      <!--
      <listener listenUri="ssl://0.0.0.0:5223" listenerType=""/>
      <listener listenUri="http://0.0.0.0:5280/http-poll" maxReceivedMessageSize="65535" listenerType=""/>
      -->
    </listeners>
<!--
    <storages>
      <storage type="Jabber.Net.Server.Storages.IUserStorage" use="" connectionStringName="users"/>
    </storages>
-->
  </jabber.net>
  
</configuration>